:host{
  .list{
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
  }
  .user{
    display: grid;
    grid-template-columns: 100px 60px;
    column-gap: 10px;
    cursor: pointer;
    &:hover{
    background: #be7c04;
    }

  }
}
